main {
  background-color: rgba(255, 255, 255);
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 2% 10% 10% 10%;
  overflow: hidden;
  text-align: center;
  font-family: "EB Garamond", Verdana, Geneva, Tahoma, sans-serif; 
  background-size: 100%;
}


h1 {
  font-size: 110px;
  text-align: center;
  font-family: "EB Garamond", serif;
  letter-spacing: 15px;
  margin-top: 2%;
  margin-bottom: 0;
}

h2 {
  font-size: 28px;
  font-family: "Tangerine", cursive;
  text-align: center;
  letter-spacing: 8px;
} 

section{
  margin-bottom: 10%;
}