.contentDiv{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
}

img{
    width: 100%;
    padding: 3px;
}

.rmvPad{
    padding: 0;
}