nav{
    text-align: center;
    font-family: 'EB Garamond', serif;
    letter-spacing: 7px;
    font-size: 20px;
    margin-bottom: 2%;
}

a{
    text-decoration: underline;
}

a:link{
    color: rgb(16, 46, 68);
}

a:visited{
    color: rgb(34, 90, 90);
}

a:hover{
    color: goldenrod;
}

a:active{
    color:rgb(28, 173, 173);
}
